{{> header}}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">


    <!-- Main content -->
    <section class="invoice">
   
      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>Id</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Username</th>
              <th>Password</th>
              <th>Delete:</th>
              <th>Edit:</th>
            </tr>
            </thead>
            <tbody>
            {{#each data}}
            <tr>
                <td>{{this.id}}</td> 
                <td>{{this.name}}</td> 
                <td>{{this.surname}}</td>        
                <td>{{this.username}}</td>      
                <td>{{this.password}}</td>
                <td>
                <form method="DELETE" action="/delete/{{this.id}}" >
                <input type="submit" name="delete" value="Delete" />
                </form>
                </td>      
                <td>
                <form method="GET" action="/users/edit/{{this.id}}" >
                <input type="submit" name="delete" value="Edit" />
                </form>
                </td>   
            </tr>    
            {{/each}}
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- this row will not appear when printing -->

    </section>
    <!-- /.content -->
    <div class="clearfix"></div>
  </div>
  <!-- /.content-wrapper -->
{{> footer}}